	.bangku

	{

		width: 50px;

		height:50px;

		text-align:center;

		font-size:15px;

		background-color:#F00;

		color:#FFF;

		cursor:pointer;

		margin-top:4px;

		margin-right:4px;

	}

	.btn-hijau

	{

		background:#4fb821;

	}		
	.btn-kuning

	{

		background:#e6e600;

	}
	.btn-abu

	{

		background:#ff9900;

	}
	.btn-putih

	{

		background:#d6d6c2;
		width : 1765%;
		height: 
	}
	.btn-merah

	{

		background:#ff0000;

	}
	.btn-hijauu

	{

		background:#4fb821;
		width: 20px;
		height: 20px;
	}	
	.btn-merahh

	{

		background:#ff0000;
		width: 20px;
		height: 20px;
	}
	.btn-kuningg

	{

		background:#e6e600;
		width: 20px;
		height: 20px;
		
	}		